.text-field {
	-fx-border-color: blue;
	-fx-text-fill: green;
}

.label {
	-fx-text-fill: blue;
}

.label-risposte {
	-fx-text-fill: green;
}

.button {
	-fx-border-color: blue;
	-fx-text-fill: blue;
}

.sfondo {
	-fx-border-color: black;
	-fx-vgap: 10;
	-fx-hgap: 10;
	-fx-padding: 10, 10, 10, 10;
}