#label {
	-fx-text-fill: blue;
}

#text-field {
	-fx-border-color: blue;
	-fx-text-fill: black;
}

.button {
	-fx-border-color: blue;
	-fx-text-fill: black;
}

#sfondo {
	-fx-vgap: 10;
	-fx-hgap: 10;
	-fx-padding: 10, 10, 10, 10;
}
